<div class="add-product-container">
    <h2>restock Product</h2>
    <form>
        
        <div class="form-group">
            <label for="original-quantity">Original Quantity</label>
            <input type="number" class="form-control" id="original-quantity" placeholder="Enter original quantity">
        </div>
        
        <button type="submit" class="btn btn-add-product">add new quantity</button>
    </form>
</div>