<div class="add-product-container">
    <h2>Add Sale</h2>
    <form>
        <div class="form-group">
            <label for="product-name">Product Name</label>
            <select  class="form-control" asp-items="Model.productList" required>
                <option value="">Please select a product</option>
            </select>
        </div>
        <div class="form-group">
            <label for="original-quantity">Original Quantity</label>
            <input type="number" class="form-control" id="original-quantity" placeholder="Enter original quantity">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" placeholder="Enter price" step="0.01">
        </div>
        <button type="submit" class="btn btn-add-product">Add Product</button>
    </form>
</div>