@{
    ViewData["Title"] = "Home";
}

<section class="landing-page">
    <div class="content">
        <h1>A clean home's a <span class="highlight">warm home</span></h1>
        <p>best brightness cleaning products, a new way of cleaning your home in 2024</p>
        <a class="register-now" asp-controller="Account" asp-action="login">Login Now</a>
    </div>
    <div class="image">
        <img src="https://cdn-icons-png.flaticon.com/512/994/994928.png" alt="Phone Image">
    </div>
</section>
