@{
    ViewData["Title"] = "Home";
}

<section class="landing-page">
    <div class="content">
        <h1>Investing made <span class="highlight">easy.</span></h1>
        <h2>Your turn.</h2>
        <p>Buy shares on SA's cheapest platform! Minimums, we don't got 'em. Intimidating jargon, not welcome. Tricky tech, fat chance.</p>
        <a class="register-now" asp-controller="Account" asp-action="Register">Register Now</a>
    </div>
    <div class="image">
        <img src="https://cdn-icons-png.flaticon.com/512/994/994928.png" alt="Phone Image">
    </div>
</section>
